* {
  box-sizing: border-box;
}

/* Declaring variables for colours to reuse later */
:root{
  --primary:#d62828;
  --secondary:#f2cc8f;
  --tertiary:#457b9d;
}

/* BODY */

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* HEADER */

/* Giving header main primary colour */
header{
  background-color: var(--primary);
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Adding styling to h1 in header */
header h1{
  height: 60px;
  padding-top: 10px;
  margin-right: 10px;
  width: 350px;
  background-color: var(--secondary);
  color: var(--primary);
}

nav{
  display: flex;
  margin-right: 70px;
}

/* FLEXBOX */

/* Adding styling to flex items 'nav' elements e.g contact */
.flex_item{
  background-color: var(--primary);
  font-size: 25px;
  padding: 11px;
  
}

a{
  color: var(--secondary);
}

/* Adding styling to elements when hovering */
.flex_item:hover{
  background-color: var(--secondary);
  color: var(--primary);
  transition-duration: 0.4s;
  cursor: pointer;
}

/* BANNER */

/* Adding background image to hero banner */
.hero-banner{
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}

.hero-banner h2{
  display: flex;
  background-color: var(--secondary);
  color: var(--primary);
  align-items:flex-end;
}

.subtitle{
  align-content: end;
}


/* MAIN - ABOUT/WORK SECTION */

/* Initialising category grid */
main{
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 150vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 17% 83%;
  grid-template-areas: 
  "about about-info"
  "work  work-info"
  "contact  contact-info"
  ;
  padding: 10px;
}

/* Main header2 styling */
main h2{
  font-size: 38px;
  color: var(--tertiary);
  width: 150px;
  height: 120px;
}

main a{
  color: var(--tertiary);
}

/* Initialising grid sections elements */
#about{
  grid-area: about;
}
#about-info{
  grid-area: about-info;
  padding: 10px;
  font-size: 22px;
}
#about,
#work,
#contact{
  border-right: 4px solid var(--tertiary);
  padding-left: 28px;
  padding-top: 20px;
  margin: 10px;
}
#work{
  grid-area: work;
}
#work-info{
  grid-area: work-info;
}

/* NESTED GRID */
/* Grid for work examples */
#work-grid{
  margin: 10px 5%;
  display: grid;
  min-height: 500px;
  height: 90vh;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "port1 port1" 
  "port1 port1"
  "port2 port3"
  "port4 runbuddy"
  ;
  padding-left: 60px;
  
}

/* PORTFOLIO IMAGES */
/* Initialising work grid elements */
#port1{
  grid-area: port1;
  background-image: url("../images/02-portfolio-2.jpg");
}
#port2{
  grid-area: port2;
  background-image: url("../images/02-portfolio-1.jpg");
}
#port3{
  grid-area: port3;
  background-image: url("../images/02-portfolio-3.jpg");
}
#port4{
  grid-area: port4;
  background-image: url("../images/02-portfolio-4.jpg");
}
#runbuddy{
  grid-area: runbuddy;
  background-image: url("../images/02-run-buddy.jpg");
}

#portfolioGridArea{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#contact{
  grid-area: contact;
}








/* CONTACT */

/* Add colour for links in contact section */
#contact a{
  color: var(--tertiary);
}


/* Contact Info */
#contact-info{
  grid-area: contact-info;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  font-size: 30px;
}